body{
   margin: 0;
   padding: 0;
   font-family: "Nunito Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}


/*Container geral*/
.container-main{
    max-width: 1185px;
    margin: auto;
}

/*HEADER SIMULATOR*/
.header-simulador{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:56px;
    background-color: rgb(246, 246, 246);

}

.header-simulador span{
    font-size: 16px;
    font-weight: 400px;
    font-family: "Nunito Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.header-simulador span a{
    text-decoration: none;
    color: rgb(110, 10, 214);
}

.header-simulador p{
    padding: 20px;
}



/*HEADER MAIN*/

.header-main{
    height: 81px;
    border-bottom: 1px solid black;
}



.header-main-container{
    display: flex;
    align-items: center;
    max-width: 1272px;
    height: 81px;
    margin: auto;
}

.header-main-container a{
    text-decoration: none;
    margin-left:32px;
    color: rgb(74, 74, 74);
}

/*MENU*/

.nav-header-main{
    display: flex;
    justify-content:flex-end;
    width: 1092px;
}

.nav-main{
    display: flex;
    align-items: center;
}

/*cor do item do menu*/
.item-li-main{
    color:#4a4a4a;
}

.nav-main span svg:hover path {
    fill: #fce57e;
}

 .link-menu-main{
     display: flex;
     align-items: center;
 }

.link-menu-main span{
    width: 20px;
     margin-right: 10px;
}

.anunciar{
    background-color:rgb(247, 131, 35);
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius:15px;
    width: 120px;
    text-align: center;
    margin-left: 24px;
}

.anunciar:hover{
    background-color:orange;
}
.nav-mobile-main{
    display: none;
    margin-right:16px;
    position:relative;
}


/*HEADER iza-top: CONTEÚDO DO TOP*/

.iza-top{
    background-color: #6e0ad6;
    max-width:100vw;
}

/*INPUT DE PESQUISAR*/

.combobox{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 60px;
}

.combobox input{
    width: 100%;
    padding-left: 18px;
    font-size: 20px;
    outline: none;
}

.searchWrapBox{
    display: flex;
    padding-top: 40px;
}


/*CATEGORIAS*/

.container-categories{
    display: flex;
    justify-content: space-between;
}

.item-inline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-inline a{
    text-decoration: none;
}

.list-inline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.item-inline-info{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
}

.item-inline-info img{
    margin: auto;
}

/*imagem arredondadas das categorias*/

.item-img{
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 10px;
}


/*BODY PRODUCTS RECENTES*/

.title-announcement{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 20px;
}

.multiGallery{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.item-img-multiGallery{
    display: flex;
    justify-content: center;
    background-color: brown;
    height: 120px;
}

.item-img-multiGallery img{
    height: 100%;
    margin: auto;
    text-align: center;
}

.item-multiGallery-title{
    color: rgb(74, 74, 74);
    line-height: 33px;
    font-family: "Nunito Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}